.navbar {
    min-height: 70px;
}

.navbar-default .navbar-brand {
    font-size: 24px;
    color: #030303;
    font-family: verdana, arial, sans serif;
}

.navbar-brand div {
    font-size: 18px;
    color: #777;
}

#app-progress-info {
    text-align: center;
    font-size: 23px;
    line-height: 30px;
}

#app-progress-info span {
    font-weight: bold;
}

#app-tickets-table_filter {
    float: none;
    text-align: left;
}

#app-tickets-table_filter input {
    margin: 0;
    width: 100%;
    font-weight: normal;
}

#app-tickets-table_filter label {
    width: 100%;
    position: relative;
}

#app-tickets-table_length {
    float: left;
}

#app-tickets-table_length label {
    font-weight: normal;
}

.tickets-table-bottom {
    margin-top: 10px;
}

#app-tickets-table_info {
    float: right;
    clear: none;
    padding-top: 0;
}

.tickets-table-pagination {
    position: relative;
}

#app-tickets-table_paginate {
    margin: 0 auto;
    float: left;
}

#app-check-in-progress {
    position: relative;
    height: 30px;
    font-size: 23px;
    line-height: 30px;
}

#app-progress-percents {
    text-align: center;
    position: absolute;
    width: 100%;
}

td.actions {
    width: 150px;
}

td.actions button span {
    margin-right: 5px;
}

#app-event-select {
    width: 245px;
}

.app-attendees-export {
    margin-right: 10px;
}

#app-tickets-table_length {
    width: 300px;
}